html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

canvas{
  background: #fff;
}

#fullscreen,
#thumbnails{
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
}

/*
 * Fullscreen
 */
#fullscreen{
  top: 0px;
  bottom: 125px;
  overflow-y: auto;
  background: #fff;
}
#fullscreen div{
  position: absolute;
  left:   22px;
  right:  22px;
  top:    22px;
  bottom: 22px;
}
#fullscreen canvas{
  height: 100%;
}


/*
 * Thumbnails
 */
#thumbnails{
  bottom: 0px;
  height: 125px;
  background: #dedede;
}
#thumbnails canvas{
  height: 100px;
  position: relative;
  top: 12.5px;
  margin: auto 6px;
}
#thumbnails canvas:hover{
  opacity: 0.5;
  cursor: hand;
  border: 5px solid #aaa;
  width:  90px;
  height: 90px;
}
